
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Playfair Display', serif;
  background-image: linear-gradient(90deg, rgb(187, 187, 187), rgb(197, 197, 197));
}

@media only screen and (max-width: 768px) {
  header {
    height: 50px;
    padding: 0.5em;
  }
  .logo h1 {
    font-size: 34px;
  }
  .logo p {
    font-size: 17px;
  }
  nav ul {
    flex-direction: column;
  }
  nav li {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
/* Header Styles */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(135deg, #34C759 0%, #4567b7 100%);
  color: #FFFFFF;
  padding: 1em;
  height: 70px;
  transition: position 0.5s ease, background-color 0.5s ease, box-shadow 0.5s ease;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo h1 {
  font-size: 40px;
  font-weight: bold;
  margin-right: 10px;
  margin-bottom: 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.logo p {
  font-family: 'Playfair Display', serif;
  margin-top: -3px;
  font-size: 18px;
  color: #FFFFFF;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.art-deco {
  color: #273aa1;
}
/* Media query for smaller screens */
@media (max-width: 768px) {
  .logo h1 {
    font-size: 24px; /* Reduce font size */
    margin-right: 5px; /* Reduce margin */
  }

  .logo p {
    font-size: 14px; /* Reduce font size */
    margin-top: -1px; /* Adjust margin top */
  }

  .art-deco {
    font-size: 16px; /* Reduce font size */
  }
}
nav {
  margin: 0;
  padding: 0;
  font-size: 18px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

nav li {
  margin-right: 20px;
}

nav a {
  color: #ffffff;
  text-decoration: none;
  transition: 0.3s ease;
}

nav a:hover {
  color: #1abc9c;
}

nav a:active {
  color: #7ecfd8;
}


/* Hero Section Styles */

.hero {
  position: relative;
  height: 100vh;
  
}

.hero img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  transition: opacity 0.5s ease;
  filter: blur(10px);
}
@media only screen and (max-width: 768px) {
  .hero img {
    height: 60vh !important;
    object-fit: none !important;
  }
}


.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #0022ff;
  transition: transform 0.5s ease;
  background: linear-gradient(100deg, rgba(0, 123, 255, 0.7) 0%, rgba(0, 255, 100, 0.7) 50%, rgba(200, 200, 200, 0.7) 100%)
  ;

 border-radius: 10px;
  padding: 80px;
  
}
@media only screen and (max-width: 768px) {
   .hero-text {
    font-size: 14px; /* Reduce font size */
    font-weight: bold;
    text-align: center;
    padding: 5px; /* Reduce padding */
    transform: translate(-50%, -10%);
    position: relative;
    top: -100%; /* Adjust top position */
    max-width: 300px; /* Reduce max-width */
   }
  .hero {
    padding-bottom: 120px;
  }
  .hero-text {
    margin-top: 10px;
  }
}



.hero-text:hover {
  transform: translate(-50%, -50%) scale(1.1);
}

.hero h1 {
  font-size: 90px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.hero p {
  font-size: 24px;
  line-height: 1.5;
  text-align: center;
  color: rgb(193, 193, 193);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


@media only screen and (max-width: 768px) {
  .hero {
    height: 60vh;
  }
  .hero img {
    filter: blur(5px);
    height: 70vh;
    object-fit: cover;
  }
  .hero-text {
    font-size: 18px;
    padding: 20px;
    transform: translate(-50%, -20%);
    top: -80%;
    max-width: 350px;
  }
  .hero h1 {
    font-size: 28px;
  }
  .hero p {
    font-size: 16px;
  }
}

@media only screen and (max-width: 768px) {
  .hero {
    height: 50vh;
  }
}

/* Steps Section Styles */
.how-it-works {
  margin-top: 100px;
}


.steps {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.step {
  flex-basis: 30%;
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease;
  transition: background-color 0.5s ease, transform 0.5s ease;
}

.step h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.step p {
  font-size: 18px;
  margin-bottom: 20px;
}

.step.active {
  background-color: #f0f0f0;
  transform: scale(1.1);
}

@media only screen and (max-width: 768px) {
  .how-it-works {
    margin-top: 200px; /* reduced margin-top */
    padding: 20px;
  }
  .steps {
    flex-direction: column;
    padding: 10px; /* reduced padding */
  }
  .step {
    flex-basis: 100%;
    margin: 10px;
    padding: 10px; /* reduced padding */
  }
  .step h3 {
    font-size: 16px; /* reduced font-size */
  }
  .step p {
    font-size: 12px; /* reduced font-size */
  }
}

/* Footer Styles */

.footer-container {
  background: linear-gradient(100deg, #4567b7 0%, #34C759 100%);
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer li {
  margin-right: 20px;
  margin-bottom: 5px;
}

footer a {
  color: #fff;
  text-decoration: none;
}

footer a:hover {
  color: #273aa1;
}

footer a:active {
  color: aqua;
}


@media only screen and (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    padding: 10px;
  }
  .footer-container p {
    font-size: 14px;
    margin-bottom: 10px;
  }
  footer ul {
    flex-direction: column;
  }
  footer li {
    margin-right: 0;
    margin-bottom: 10px;
  }
  footer a {
    font-size: 14px;
  }
}



/* Smooth Transitions */

header, nav ul, .hero, .steps, .step {
  transition: all 0.5s ease;
}

/* New Features */

header:hover {
  background-color: #FFFFFF;
  color: #333;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

nav a:hover {
  transform: scale(1.1);
}

.hero img:hover {
  filter: blur(0);
  transform: scale(1.1);
}

.step:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);  
}
@media only screen and (max-width: 768px) {
  /* Reduce hover effects on smaller screens */
  header:hover {
    background-color: #FFFFFF;
    color: #333;
  }
  nav a:hover {
    transform: none;
  }
  .hero img:hover {
    filter: blur(5px);
    transform: none;
  }
  .step:hover {
    transform: none;
    box-shadow: none;
  }
}

/* About Page */

.about {
  background-color: rgb(190, 187, 187);
  padding: 50px 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.about-content {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow: hidden; /* added overflow hidden */
}


.about-content h1 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #333;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  animation: fadeIn 1s ease;
}
.about-content p {
  font-size: 18px;
  margin-bottom: 30px;
  color: #666;
  line-height: 1.5;
  transition: color 0.3s ease;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  letter-spacing: 1px;
}

.about-content p:hover {
  color: #333;
}


.about-content img {
  width: 100%;
  height: auto;
  max-width: 600px;
  margin: 0 auto;
  display: block;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  margin-bottom: 20px; /* added margin bottom */
}
.about-content img:hover {
  transform: scale(1.1);
}

.about-content h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
  font-weight: bold;
  transition: color 0.3s ease;
}


.about-content h2:hover {
  color: #555;
}

.about-content ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.about-content li {
  margin: 20px;
  width: calc(33.33% - 20px);
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.about-content li:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-5px);
}

.about-content li i {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
  transition: color 0.3s ease;
}

.about-content li i:hover {
  color: #555;
}

.about-content li h3 {
  font-size: 18px;
  margin-bottom: 5px;
  color: #333;
  font-weight: bold;
  transition: color 0.3s ease;
}

.about-content li h3:hover {
  color: #555;
}

.about-content li p {
  font-size: 14px;
  color: #666;
  transition: color 0.3s ease;
}

.about-content li p:hover {
  color: #333;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 768px) {
  .about {
    padding: 20px 0;
  }
  .about-content {
    padding: 10px;
  }
  .about-content h1 {
    font-size: 24px;
  }
  .about-content p {
    font-size: 14px;
  }
  .about-content img {
    max-width: 300px;
  }
  .about-content h2 {
    font-size: 18px;
  }
  .about-content li {
    width: calc(50% - 20px);
    margin: 10px;
    padding: 10px;
  }
  .about-content li i {
    font-size: 18px;
  }
  .about-content li h3 {
    font-size: 14px;
  }
  .about-content li p {
    font-size: 12px;
  }
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 30px;
}

.gallery img {
  width: calc(25% - 20px);
  margin: 10px;
  border-radius: 10px;
}
@media only screen and (max-width: 768px) {
  .gallery img {
    width: calc(50% - 20px);
  }
}

@media only screen and (max-width: 480px) {
  .gallery img {
    width: 100%;
    margin: 5px;
  }
}


/* Contact Page */

.contact {
  background-color: #f7f7f7;
  padding: 50px 0;
  text-align: center;
}

.contact-content {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-content h1 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #333;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.contact-content p {
  font-size: 18px;
  margin-bottom: 30px;
  color: #666;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form input, form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form button {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.contact-info {
  margin-top: 30px;
}

.contact-info h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
}

.contact-info p {
  font-size: 18px;
  margin-bottom: 20px;
  color: #666;
}

/* Small Screen View */

@media only screen and (max-width: 600px) {
  .about-content, .contact-content {
    padding: 10px;
  }
  .gallery img {
    width: calc(50% - 20px);
  }
}
